*{
    margin: 0;
    padding: 0;
}
.full-website{
    text-align: center;
    color: black;
    width: 100%;
}
.header{
    height: 70px;
    background: #00cec9;

}
.banner{
    width: 100%;

}
img{
    width: 100%;
    margin-bottom: -5px;

}
.container{
background: #74b9ff;
padding: 60px 0;
}
.footer{
    background: #b2bec3;
    padding: 60px 0;


}
.footer-bottom{
    background: #636e72;

}