/* h2{
    background-color: green;
    display: inline;
}
p{
    background-color: green;
}
div{
    text-align: ;
}
span{
    background-color: green;
    display: inline-block;
}
b{
    background-color: green;
}


ul li a{
    color: red;
    text-decoration: none;
}
.list ul li:nth-child(odd) a{
    color: aqua;
}
.list ul li:nth-child(odd) a{
    color: blueviolet;
} */

h1{
    background-color: green;
}
h2{
    background-color: green;
}
h3{
    background-color: green;
}
h4{
    background-color: green;
}
h5{
    background-color: green;
}
h6{
    background-color: green;
}
/* div{
    background-color: green;
} */
li{
    background-color: green;
}
ul{
    background-color: green;
}
a{
    background-color: green;
}
img{
    background-color: green;
}
span{
    background-color: green;
}
b{
    background-color: green;
}
input{
    background-color: green;
}
p{
    background-color: green;
}
nav{
    background-color: green;
}
.img{
    background: url(img/akhi.jpg);
}
