*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: aqua;
    text-align: center;
    height: 70px;
}
.banner{
    max-width: 100%;
}
.container{
    background-color: aquamarine;
    margin-top: -5px;
    text-align: center;
    padding: 20px 0;
}
.footer{
    background-color: #c7ecee;
    height: 50px;
    text-align: center;
    padding: 20px 0;
}
.footer-bottom{
    background-color: #535c68;
    text-align: center;
    padding: 20px 0;
}